ion-modal {
  --height: 80%;
  --border-radius: 8px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  .modal-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3a3a3c;
    color: #e5e5e5;
    height: 100%;
    overflow: auto;

    // Close Button
    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.2rem;
      z-index: 10;
      color: #9e9e9e;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
