#notifRow {
  gap: 0.2rem;
  max-height: 60vh;
  overflow: auto;
  margin-bottom: 4rem;
  margin-top: 0.5rem;
}

#notifFormColumn {
  h5 {
    margin-top: 0;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;

    textarea {
      resize: none;
      min-height: 80px;
      margin-top: 0.35rem;
      margin-bottom: 0.35rem;
    }
  }
}

.successText {
  color: rgb(0, 171, 0);
  margin: 0;
  margin-bottom: 2rem;
}
.errorText {
  color: rgb(255, 0, 0);
  margin: 0;
  margin-bottom: 2rem;
}
