#pinModalGrid {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;

  #pinModalTop {
    display: flex;
    flex-direction: row;
    gap: 2%;
    opacity: 0.75;

    p {
      font-size: small;
    }
  }

  #pinModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      figure {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;

        img {
          max-width: 600px;
          object-position: center;
          object-fit: contain;
          margin: 0;
        }
        p {
          opacity: 0.75;
          font-size: 0.8rem;
          margin-top: 0.5rem;
        }
      }
      p {
        width: 100%;
        margin-top: 0;
      }
    }

    div {
        margin-bottom: 1rem;
      p {
        margin: 0;
        margin-bottom: 0.4rem;
      }
      .smallText {
        opacity: 0.75;
        font-size: 0.8rem;
        margin: 0;
      }
    }
  }

  #pinButtonsRow {
    margin-top: auto;
    .pinButtons {
      ion-button {
        width: 100%;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
  flex-grow: 2;

  select,
  input {
    padding: 0.2rem;
  }

  .submitButton {
    margin-top: auto;
  }
}

.searchOptions {
  display: flex;
  gap: 0.75rem;
}

#pinsRow {
  gap: 0.2rem;
  max-height: 60vh;
  overflow: auto;
  margin-bottom: 4rem;
  margin-top: 0.5rem;
}
