#pinModalGrid {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;

  #pinModalTop {
    display: flex;
    flex-direction: row;
    gap: 2%;
    opacity: 0.75;
    
    p {
      font-size: 0.7rem;
    }
  }

  #pinModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      figure {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;

        img {
          max-width: 600px;
          max-height: 160px;
          object-position: center;
          object-fit: contain;
          margin: 0;
        }
        p {
          opacity: 0.75;
          font-size: 0.6rem;
          margin-top: 0.5rem;
          text-align: center;
        }
      }

      .descriptionText {
        border: 2px solid rgba(23, 23, 23, 0.386);
        border-radius: 3px;
        padding: 2%;
      }

      p {
        width: 100%;
        margin-top: 0;
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;
      p {
        margin: 0;
      }
      .smallText {
        opacity: 0.75;
        font-size: 0.8rem;
        margin: 0;
      }

      .avatarSection {
        width: auto;
        figure {
          img {
            max-height: 60px;
          }
        }
      }

      section {
        display: flex;
        align-content: baseline;
      }
    }
  }

  #pinButtonsRow {
    margin-top: auto;
    justify-content: center;
    .pinButtons {
      ion-button {
        width: 100%;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
  flex-grow: 2;

  select,
  input {
    padding: 0.2rem;
  }

  .submitButton {
    margin-top: auto;
  }
}

.searchOptions {
  display: flex;
  gap: 0.75rem;
}

#pinsRow {
  gap: 0.2rem;
  max-height: 60vh;
  overflow: auto;
  margin-bottom: 4rem;
  margin-top: 0.5rem;
}
