#reportModalGrid {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;

  #reportModalTop {
    display: flex;
    flex-direction: row;
    gap: 2%;
    opacity: 0.75;

    p {
      font-size: small;
    }
  }

  #reportModalContent {
    display: flex;
    justify-content: center;

    .userDisplay {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 5%;

      h3 {
        width: 100%;
      }

      h4 {
        width: 60%;
      }

      figure {
        width: 25%;
        margin: 0;

        img {
          width: 100%;
        }
      }

      .userIdSmallText {
        opacity: 0.75;
        font-size: 0.65rem;
        margin: 0;
      }
    }
  }

  #reportButtonsRow {
    margin-top: auto;
    .reportButtons {
      ion-button {
        width: 100%;
      }
    }
  }
}

#reportsRow {
  gap: 0.2rem;
  max-height: 60vh;
  overflow: auto;
  margin-bottom: 4rem;
}
