.reportColumn {
  display: flex;
  flex-direction: row;

  background-color: rgb(65, 65, 65);

  .reportCon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
    p {
      margin-top: 0rem;
      margin-bottom: 0.5rem;
      text-transform: capitalize;
    }

    .reportId {
      width: 100%;
      p {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        opacity: 0.8;
      }
    }

    .reportInfo {
        display: flex;
    }
  }

  .reportText {
    color: lightblue;
    flex-grow: 1;   
  }
}
