#editUserModal {

    div {
        display: flex;

        figure {
            margin: 0;
            img {
                width: 100%;
                height: auto;
                margin: 0;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-top: 0.5rem;
        height: 75%;
        
        select, input {
            padding: 0.2rem;   
        }

        .submitButton {
            margin-top: auto;
        }

    }
}