#userRow {
  gap: 0.2rem;
  max-height: 50vh;
  overflow: auto;
  margin-top: 0.5rem;
 }

ion-modal#deleteUserModal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;

  .modal-content {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 1rem;
  }
}

#editUserModal {
  display: flex;
  flex-direction: column;
  height: 100%;

  div {
    display: flex;

    figure {
      margin: 0;
      img {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.5rem;
    flex-grow: 2;

    select,
    input {
      padding: 0.2rem;
    }

    .submitButton {
      margin-top: auto;
    }
  }
}

.searchOptions {
  display: flex;
  gap: 0.75rem;
}