.userColumn {
  display: flex;
  flex-direction: row;

  background-color: rgb(65, 65, 65);

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: 0.5%;
    padding-right: 0.5%;

    .userInfoCon {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      p {
        margin-top: 0rem;
        margin-bottom: 0.5rem;
      }
    }

    .userIdCon {
      width: 100%;
      p {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        opacity: 0.8;
      }
    }

    .userIdText {
      font-size: 1rem;
      overflow-wrap: break-word;
    }
  }

  .deleteButton button {
    background-color: red;
  }
}
