.imageContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.imageContainer img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.inlineTagsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inlineTags {
  margin: 10px 0;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .inlineTags {
    width: 600px;
  }
}

.inlineTags ion-input {
  width: 100%;
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #303030;
  --border-radius: 8px;
}

.ion-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  --background: #3880ff;
  --border-radius: 8px;
}

.ion-button ion-icon {
  margin-right: 8px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.buttonContainer ion-button {
  width: calc(90% - 200px);
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .buttonContainer ion-button {
    width: 300px;
  }
}
