#errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
        font-weight: bold;
        margin-bottom: 2px;
    }
}