ion-toolbar {
  ion-icon {
    color: var(
      --ion-tab-bar-color,
      var(--ion-color-step-650, var(--ion-text-color-step-350, #595959))
    );
    font-size: 33px;
  }
  ion-button {
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    float: left;
    ion-img {
      height: 50px;
    }
  }
}

.IonButtonContainer {
  display: flex;
  float: right;
  ion-button {
    position: relative;
    ion-badge {
      position: absolute;
      top: -5px;
      right: -10px;
    }
  }
}

.alert-radio-inner.sc-ion-alert-md {
  top: 3.6px;
  inset-inline-start: 3.6px;
}
