ion-card {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 1.5rem;
  background-color: #2c2c2e;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  color: #e5e5e5;
  overflow-y: auto;

  ion-card-header {
    text-align: center;
    padding-bottom: 1rem;

    ion-card-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #ffffff;
    }
  }

  ion-input {
    --background: #3a3a3c;
    --placeholder-color: #9e9e9e;
    --color: #e5e5e5;
    --border-radius: 4px;
    margin: 1rem 0;

    &:focus-within {
      --background: #48484a;
    }

    
  }
  .sc-ion-input-md-h {
    --padding-start: 1rem;
    --padding-end: 1rem;
  }

  #passwordInput {
    display: flex;
    align-items: center;
  }

  #loginFailed {
    color: #ff453a;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: center;
    animation: shake 0.3s ease-in-out;

    @keyframes shake {
      0%,
      100% {
        transform: translateX(0);
      }
      20%,
      60% {
        transform: translateX(-10px);
      }
      40%,
      80% {
        transform: translateX(10px);
      }
    }
  }

  ion-button {
    --border-radius: 4px;
    --color: #2c2c2e;
    --background: #0a84ff;
    --ripple-color: #0a84ff;

    &.create-user-button {
      margin-top: 0.5rem;
      --background: #bf5af2;
    }

    &[disabled] {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  ion-toast {
    --background: #0a84ff;
    --color: #fff;
    --border-radius: 6px;
  }
  
}
