.warning-modal-title {
  text-align: center;
}

.warning-modal-content {
  text-align: center;
}

.ion-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  --background: #3880ff;
  --border-radius: 8px;
}

.ion-button ion-icon {
  margin-right: 8px;
}